# OAuth2 Configuration
VITE_OAUTH_AUTHORITY=https://identity.lefterisrentas.dev
VITE_OAUTH_CLIENT_ID=xml-tools-client
VITE_OAUTH_REDIRECT_URI=/callback
VITE_OAUTH_RESPONSE_TYPE=code
VITE_OAUTH_SCOPE=openid profile email
VITE_OAUTH_POST_LOGOUT_REDIRECT_URI=/logged-out

# Add other environment variables as needed
# VITE_API_URL=https://api.example.com